//fonts



//theme colors
$base-colors-dark: #000;
$base-colors-light: #fff;

$primary-color-yellow: #000;
$secondary-color-green: #008000;
$secondary-color-green2: #00FF00;
$tertiary-color-green-chartreuse: #7fff00;
$tertiary-color-green-teal: #008080;
$quaternary-color-green-harlequin:#3fff00;
$quaternary-color-green-erin:#00ff40;
$quaternary-color-green-aquamarine:#7fffd4;
$quaternary-color-green-lime:#32CD32;

// some colors
$dark-purple: #4a154b;

        //---Gradients---//
//background colors
$bg-gradient-color-1: #19140f;
$bg-gradient-color-2: #000 100%;

//gradient colors
$gradient-color-1: #6b0f1a; // Dark Red
$gradient-color-2: #a62c5b; // Pink


//glow colors
$glow-color-0: #fff;
$glow-color-1: #f7afb7;
$glow-color-2: #e60073;
$glow-color-3: #2600ff;
$glow-color-4: #2600ff;



